.app {
  background: #f25652;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  overflow: hidden;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(42px, 1fr));
  grid-template-rows: repeat(auto-fill, auto);
  grid-gap: 10px;

  .circle {
    display: block;
    height: 32px;
    width: 32px;
    opacity: 0.7;
    border-radius: 50%;
    background: rgb(242,86,82);
    background: linear-gradient(180deg, #F25652 0%, #FFF 100%);
  }
}
