doctype html
html(lang="en")
  head
    title
      Merry Birthday
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ', crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js', integrity='sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn', crossorigin='anonymous')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.min.js")
    script(type='text/javascript')
  body.birthday
    #fullpage
      section.vertical-scrolling.container-fluid.h-100
        .row.h-100
          .col-6.header Its ya birthday lad
          .col-6.instructions
            h2 And ya best mates don't know what to get you
            h2 So we decided to let you decide
        .scroll-icon.text-center
          a(href='#secondSection/1')
            div
              text Click here to make your decision
            .icon-up-open-big
      section.vertical-scrolling
        .celebration
          .wrapper
            h1 WOOOOO CONGRATS LAD
        .divider.text-center
          .wrapper
            h1 OR
        .options
          .option#option-1.container
            .option-inner
              h2 We go to dam in March!
              p You n ya best lads will go to the land of all that is 420 in march, we got your flights covered
          .option#option-2.container
            .option-inner
              h2 We do a jewellery making class!
              p Lets get hands on with some silver as you n ya best lads get to go and learn how to make a ring
