doctype html
html(lang="en")
  head
    title
      Kyle Byrne
    script(type='text/javascript')
  body
    .app
      .grid
        .circle#test
        - var n = 1000;
          while n--
            .circle
